{
  "presets": [
    "es3",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "> 0.5%",
            "ie >= 8"
          ]
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "babel-plugin-add-module-exports"
  ]
}